# Ignore node_modules folders
**/node_modules

# Ignore build outputs
**/dist
**/build

# Ignore .env files
.env
*.env

# Ignore IDE specific files
.idea/
.vscode/

# Ignore OS specific files
.DS_Store
Thumbs.db
