/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/vendor/
/web/bundles/
/app/bootstrap*
/.idea/*
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
composer.phar
/update.sh
/web/js/*
web/css/48ed673*.css
*.iml
