{% if listDrivers|length % 2 == 0 %}

    {% set listHalf =  listDrivers|length / 2 %}

{% else %}

    {% set listHalf =  listDrivers|length / 2 + listDrivers|length % 2 %}

{% endif %}

<div class="ui two columns divided grid">
    <div class="column">
        <div class="ui mini list">

            {% for driver in listDrivers|slice(0, listHalf) %}

                {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : driver} %}

            {% endfor %}

        </div>
    </div>
    <div class="column">
        <div class="ui mini list">

            {% for driver in listDrivers|slice(listHalf, listDrivers|length) %}

                {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : driver} %}

            {% endfor %}

        </div>
    </div>
</div>