{% if listRegistrations|length % 2 == 0 %}

    {% set listHalf =  listRegistrations|length / 2 %}

{% else %}

    {% set listHalf =  listRegistrations|length / 2 + listRegistrations|length % 2 %}

{% endif %}

<div class="ui two columns divided grid">
    <div class="column">
        <div class="ui mini list">

            {% for registration in listRegistrations|slice(0, listHalf) %}

                {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : registration.user} %}

            {% endfor %}

        </div>
    </div>
    <div class="column">
        <div class="ui mini list">

            {% for registration in listRegistrations|slice(listHalf, listRegistrations|length) %}

                {% include 'RFCCoreBundle:User:userLink.html.twig' with {'user' : registration.user} %}

            {% endfor %}

        </div>
    </div>
</div>