{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div class="ui relaxed divided list">
    {% for championship in championships %}

        {% set canEdit = (is_granted('ROLE_MANAGER') and championship.isManager(app.user.id)) or is_granted('ROLE_CERTIFIED_MANAGER') %}

        {% if view == 'list' %}
            {% include 'RFCCoreBundle:Championship/Preview:listItem.html.twig' with {'championship' : championship} %}
        {% else %}
            {% include 'RFCCoreBundle:Championship/Preview:championshipInfo.html.twig' with {'championship' : championship} %}
        {% endif %}

    {% endfor %}
</div>