<table class="ui small striped table">
    <thead>
        <tr>
            <th>{% trans %}core.championship.result.rank{% endtrans %}</th>
            <th>{% trans %}core.championship.result.name{% endtrans %}</th>
            <th>{% trans %}core.championship.result.points{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for userid,data in results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data.user.username }}</td>
                {% set detailedResults = "" %}
                {% for result in data.results %}
                    {% if result.rule.value != 0 %}
                        {% set detailedResults = detailedResults ~ result.rule.typeSession.name ~ ' - ' ~ result.rule.name ~ ' : ' ~ result.rule.value %}
                        {% if not loop.last %}
                            {% set detailedResults = detailedResults ~ ', ' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td>
                    {{ data.sum }}&nbsp;&nbsp;<i class="info icon link popupElement" data-content="{{ detailedResults }}"></i>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>