{% extends "RFCAdminBundle::layout.html.twig" %} {% block title %} Admin
- {{ parent() }} {% endblock %} {% block rfccore_body %}

<h1>System</h1>

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
	   
	</tbody>
</table>

<button value="Confirm">Confirm</button>

{% endblock %}
