

{% if gitHubIssue is not defined %}{# issue is new, we show form #}

    <form class="ui form" id="sendIssue">
        <div class="field">
            <label>{% trans %}core.issue.title{% endtrans %}</label>
            <input id="title" name="title" type="text" class="ui input" />
        </div>
        <div class="field">
            <label>{% trans %}core.issue.message{% endtrans %}</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <input class="ui right floated submit button" type="submit" />
    </form>

{% elseif gitHubIssue is null %}{# issue could not be created #}

    <p>
        {% trans %}core.issue.notSent{% endtrans %}
    </p>

{% else %}{# issue is well created #}

    <p>
        {% trans with {'%issueTitle%' : gitHubIssue.title} %}core.issue.sent{% endtrans %}<br />
        {% trans %}core.issue.link{% endtrans %} <a class="ui mini blue button" target="_blank" href="{{ gitHubIssue.html_url }}">{{ gitHubIssue.number }}</a><br />
        {% trans %}core.issue.thanks{% endtrans %}
    </p>

{% endif %}