{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Members/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>Member list</h2>
    
    <table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Username</th>
				<th>Steam ID</th>
				<th>Mentor</th>
			</tr>
		</thead>
		<tbody data-link="row" class="rowlink">
			{% for user in users %}
                <tr>
                    <td><a href="{{ path('rfcCore_members_show', { 'userId': user.id, 'gameId': game.id  }) }}">{{ user.username }}</a></td>
                    <td>{% if user.steamId %}{{ user.steamId }}{% else %} - {% endif %}</td>
                    <td>{% if user.mentor %}{{ user.mentor.username }}{% else %} - {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}