.pusher {
    background: url('../img/white_carbon.png') transparent !important;
}

.ui-state-highlight {
    height: 49px;
    border: 2px dotted #DEDEDE;
}
.ui.list.sortable {
    min-height: 50px;
}

#championshipEvents .column a > *{
    width: 0;
}
.card.eventItem{
    margin: 0;
    padding: 0;
}