{# src/RFC/CoreBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  {% block header %}<h1>RF Championship</h1>{% endblock %}

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block rfccore_body %}
  {% endblock %}

{% endblock %}