{% extends 'RFCAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Result creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_result') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
