{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div id="showSidebar" class="ui centered grid">
    <div class="row">
        <i class="arrow up icon"></i>&nbsp;{% trans %}core.misc.showFooter {% endtrans %}&nbsp;<i class="arrow up icon"></i>
    </div>
</div>

<div class="ui bottom sidebar overlay vertical inverted black footer segment">
    <div class="ui middle aligned stackable inverted divided relaxed grid">
        <div class="eight wide column">
            <h3 class="ui teal inverted header">{% trans %}core.misc.hookHelp{% endtrans %}</h3>
            <div class="ui inverted segment">
                <a rel="license CC" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{ asset('img/cc-by-nc-sa-80x15.png') }}" /></a>
                <br />
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Les créations //Racing-France//</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.racing-france.fr/" property="cc:attributionName" rel="cc:attributionURL">//Racing-France//</a> sont mis à disposition selon les termes de la <a rel="license CC" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.
                <div class="ui divider"></div>
                <a rel="license GPL v3" href="http://www.gnu.org/licenses/gpl-3.0.html"><img alt="Licence GPL v3" style="border-width:0" src="{{ asset('img/gplv3-88x31.png') }}" /></a>
                <br />
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">//RF//Championship</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.racing-france.fr/" property="cc:attributionName" rel="cc:attributionURL">//Racing-France//</a> est mis à disposition selon les termes de la <a rel="license GPL v3" href="http://www.gnu.org/licenses/gpl-3.0.html">licence General Public Licence v3</a>.
            </div>
        </div>
        <div class="four wide column">
            <h5 class="ui teal inverted header">Help us make a better system</h5>
            <p>Maintaining an open source UI library is no small task. Support for the continued development of Semantic UI comes directly from the community.</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                <button type="submit" class="ui teal button">Donate Today</button>
            </form>
        </div>
        <div class="four wide column">
            <h5 class="ui teal inverted header">We try to build a better web</h5>
            <div class="ui two column grid">
                <div class="column">
                    <div class="ui inverted link list">
                        <a class="item" href="http://symfony.com">Symfony2</a>
                        <a class="item" href="http://jquery.com">Jquery</a>
                        <a class="item" href="http://labs.abeautifulsite.net/jquery-dropdown/">Jquery dropdown</a>
                        <a class="item" href="https://github.com/cm0s/jquery-rcrumbs">Jquery rcrumbs</a>
                        <a class="item" href="http://vitalets.github.io/x-editable/">Jquery x-editable</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui inverted link list">
                        <a class="item" href="http://www.pixedelic.com/plugins/camera/">Jquery camera</a>
                        <a class="item" href="https://github.com/jquery/jquery-migrate/">Jquery migrate</a>
                        <a class="item" href="http://www.wysibb.com/">Jquery wysibb</a>
                        <a class="item" href="http://fancyapps.com/fancybox/">Jquery fancybox</a>
                        <a class="item" href="http://daneden.github.io/animate.css/">animate.css</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>