{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% block fos_user_content %}
{% endblock fos_user_content %}
{% if games|length > 1 %}
    <div>
    	<button href="#" data-dropdown="#dropdown-game" class="ym-button">
    		Liste des jeux
    	</button>
        <div id="dropdown-game" class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                {% for gamedd in games %}
                  {% if (game.id != gamedd.id) %}
                      <li>
                          <a href="{{ path('rfcCore_gameSelection', {'gameId': gamedd.id}) }}">{{ gamedd.name }}</a>
                      </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
<a href="{{ path('rfcCore_accueil') }}" class="ym-button">Sélectionner un autre jeu</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
   <a href="{{ path('RFCAdmin_index') }}" class="ym-button ym-danger">Administration</a>
{% endif %}