{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-collapse-01">
			<span class="sr-only">Toggle navigation</span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-01">

		{{ knp_menu_render('main') }}

		</ul>
		<form class="navbar-form navbar-right" action="#" role="search">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" id="navbarInput-01" type="search"
						placeholder="Search"> <span class="input-group-btn">
						<button type="submit" class="btn">
							<span class="fui-search"></span>
						</button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->