{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "::layout.html.twig" %}

{% block header %}

    <div class="ui middle aligned grid">
        <div class="equal height row">
            <div class="four wide column">
                <div id="showSidebar">
                    <div class="ui black big launch right attached fixed button">
                        <i class="content icon"></i>
                        <span class="text">Menu</span>
                    </div>
                </div>
            </div>
            <div class="height wide column">
                <h1>RF Championship</h1>
            </div>
            <div class="four wide column">
                {% include 'RFCCoreBundle::Structure/notificationCenter.html.twig' %}
                {% include 'RFCCoreBundle::Structure/header.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block breadcrumbs %}

    {% include 'RFCCoreBundle::Structure/breadcrumbs.html.twig' %}

{% endblock %}
{% block page_content %}

{% block rfccore_body %}{% endblock %}

{% include 'RFCCoreBundle::Structure/comments.html.twig' %}

{% endblock %}

{% block footer %}

    {% include 'RFCCoreBundle::Structure/footer.html.twig' %}

{% endblock %}