{# src/RFC/CoreBundle/Resources/views/Admin/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block title %}
  Admin - {{ parent() }}
{% endblock %}

{% block rfccore_body %}

  <h2>Administration</h2>

  <ul>
      <li>
        <a href="{{ path('admin_game') }}">Gestion des jeux</a>
      </li>
      <li>
        <a href="{{ path('admin_user') }}">Gestion des utilisateurs</a>
      </li>
  </ul>

{% endblock %}