{# src/RFC/CoreBundle/Resources/views/User/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>Mon compte</h2>
    
    <div>
        <h3>Mes infos</h3>
    </div>
    
    <div>
        <h3>Championnats</h3>
    </div>
    
    <div>
        <h3>Statistiques</h3>
    </div>

{% endblock %}
