{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/User/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <div class="uiTabs">

        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="infos">{% transchoice 0 %}core.dictionnary.information{% endtranschoice %}</a>
            <a class="item" data-tab="preferences">{% transchoice app.user.listPreferences|length %}core.dictionnary.preference{% endtranschoice %}</a>
            <a class="item" data-tab="crew">{% transchoice crewAwaitingRequests|length %}core.dictionnary.crew{% endtranschoice %}</a>
            <a class="item" data-tab="championships">{% transchoice championships|length %}core.dictionnary.championship{% endtranschoice %}</a>
            <a class="item" data-tab="statistics">{% transchoice 1 %}core.dictionnary.statistic{% endtranschoice %}</a>
        </div>

        <div class="ui active tab segment" data-tab="infos">
            {% trans_default_domain 'FOSUserBundle' %}

            <div>
                {{ form(userForm) }}
            </div>
            
        </div>

        <div class="ui tab segment" data-tab="preferences">
            
            {% include 'RFCCoreBundle:User:preferences.html.twig' %}
            
        </div>

        <div class="ui tab segment" data-tab="crew">

            {% include 'RFCCoreBundle:User:crew.html.twig' %}
            
        </div>

        <div class="ui tab segment" data-tab="championships">

            {% include 'RFCCoreBundle:User:championships.html.twig' with { 'championships' : championships } %}

        </div>

        <div class="ui tab segment" data-tab="statistics">

            {% include 'RFCCoreBundle:User:statistics.html.twig' %}

        </div>

    </div>

{% endblock %}
