{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/crewInfo.html.twig #}

{% if showCrewInfo %}

    <div class="ui grid">
        <div class="four wide column">
            <p>
                You're belonging to <strong>{{ crew.getManager.userName }}</strong>'s crew.<br />
                Feel free to share things with the crew.
            </p>
        </div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column">

            <div class="ui segment">
                <div class="ui items">

                    <div class="ui horizontal divider">
                        Active members
                    </div>
                    {% for crewMember in members %}
                        <div class="item">
                            <div class="content">
                                <a class="header">{{ crewMember.userName }}</a>

                                {% if app.user.id == crewMember.id %}
                                    <a class="ui right floated red icon mini button crewRetire" data-crewrequestid="{{ app.user.getLastCrewRequest(crew.id).id }}" ><i class="remove icon"></i>Retire from crew</a>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                    {% if awaiters %}
                        <div class="ui horizontal divider">
                            Not yet active members
                        </div>
                        {% for awaitingMember in awaiters %}
                            <div class="disabled item">
                                <div class="content">
                                    <a class="header">{{ awaitingMember.userName }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
    {# show crew infos #}

{% endif %}