{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/crewInfo.html.twig #}

{% if showCrewInfo %}
            
    You're belonging to <strong>{{ crew.getManager.userName }}</strong>'s crew.<br />
    Feel free to share things with the crew.<br />

    <h3>List of all members belonging to this crew</h3>
    <ul class="unstyled">
    {% for crewMember in members %}
        <li>{{ crewMember.userName }}</li>
    {% endfor %}
    {% for awaitingMember in awaiters %}
        <li class="inactive">{{ awaitingMember.userName }}</li>
    {% endfor %}
    </ul>
    {# show crew infos #}

{% endif %}