{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>My Crew</h2>
    
{% if app.user %}
    {% set showApplicationForm = false %}
    {% set showRetirementForm = false %}
{{ dump(app.user.listCrewRequests) }}
    {% if app.user.listCrewRequests is empty %}
        {% set showApplicationForm = true %}
    {% else %}
        {% set crew = '' %}
        {% set crewAwaiting = '' %}
        {% for crewRequest in app.user.listCrewRequests %}
            {% if crewRequest.state == 2 %} {# request accepted #}
                {% set crew = crewRequest %}
            {% endif %}
            {% if crewRequest.state == 1 %}
                {% set crewAwaiting = crewRequest %}
            {% endif %}
        {% endfor %}
        {% if crew is not empty %}
            {% include 'RFCCoreBundle:Crew:crewInfo.html.twig' %}
            
            You're belonging to <strong>{{ crew.mentor.userName }}</strong>'s crew.<br />
            Feel free to share things with the crew.<br />
            {% set showRetirementForm = true %}
            
            {% include 'RFCCoreBundle:Crew:crewFeed.html.twig' %}
        {% else %}
            {% if crewAwaiting %}
                You asked to being part of <strong>{{ crewAwaiting.mentor.userName }}</strong>'s crew but your request is not accepted yet.<br />
                {% set showRetirementForm = true %}
            {% else %}
                {% set showApplicationForm = true %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% include 'RFCCoreBundle:Crew:applicationForm.html.twig' %}
{% else %}
    You need to log-in / register to belong a crew.
{% endif %}

{% endblock %}