{#  //RF//Championship is a multi-racing game team manager that allows members to organize and follow championships.
    Copyright (C) 2014 - //Racing-France//

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{# src/RFC/CoreBundle/Resources/views/Crew/index.html.twig #}

{% extends "RFCCoreBundle::layout.html.twig" %}

{% block rfccore_body %}

    <h2>My Crew</h2>
    
{% if app.user %}
    {% if app.user.listCrewRequests is not empty %}
        {% set crew = '' %}
        {% for crewRequest in app.user.listCrewRequests %}
            {% if crewRequest.state == 2 %} {# request accepted #}
                {% set crew = crewRequest %}
            {% endif %}
        {% endfor %}
        {% if crew is not empty %}
            {# if belongs to a crew #}
            {# show crew infos #}
            You're belonging to {{ app.user.mentor.userName }}'s crew.<br />
            Feel free to share things to this crew.<br />
            {# TODO : LOAD crew feed #}
        {% else %}
            You asked to being part of {{ app.user.mentor.userName }}'s crew but you-r request is not accepted yet.
            {# if request is not accepted #}
        {% endif %}
    {% else %}
        You're not part in any crew.<br />
        Select a member as a mentor to be part of his crew.
        {# show select of all users #}
        {# else propose to join a crew #}
    {% endif %}
{% else %}
    You need to log-in / register to belong a crew.
{% endif %}

{% endblock %}